.root {
  font-family: "Anticva";
  text-transform: uppercase;
}

.title {
  margin-top: 80px;
  margin-left: 150px;
  font-size: 64px;
  margin-bottom: 60px;
}

.swiper {
  margin: 0 150px;
  border-top: 1px solid black;
  padding: 40px 150px 40px 0;
}