@import "../../styles/_utils.scss";

.root {
  background-color: #000000;
  font-family: "Anticva";
  display: flex;
}

.rootWhite {
  background-color: #000000;
  font-family: "Anticva";
  filter: invert(1);
  display: flex;
}

.logo {
  width: responsive-size(50);
  height: auto;
  display: block;
  filter: invert(1);
}

.link {
  display: block;
  color: white;
  text-decoration: none;
  font-size: responsive-size(40);
  text-transform: uppercase;
}

.buttonset {
  display: flex;
  align-items: center;
  gap: responsive-size(57);
  padding: responsive-size(15) responsive-size(75) responsive-size(30) responsive-size(75);
}

.buttonsetAdditional {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  gap: responsive-size(57);
  padding: responsive-size(15) responsive-size(75) responsive-size(30) responsive-size(75);
}